@media only screen and (max-width : 768px)
{
  footer {height: 400px;}
  footer .social-media
  {
    font-size: 15px;
    height: 40px;
    width: 40px;
    line-height: 40px;
  }

  .blue-theme .chart-wrapper
  {
    h3 {font-size: 15px;}
    .chart
    {
      width: 40%;
      font-size: 15px;
      left: 30%;
    }
  }

  .navbar-inverse .active a
  {
    -webkit-box-shadow: inset 10px 0px 0px 0px $blue !important;
    -moz-box-shadow: inset 10px 0px 0px 0px $blue !important;
    box-shadow: inset 10px 0px 0px 0px $blue !important;
  }

  .navbar-brand
  {
    height: 60px;
    font-size: 20px;
    padding: 20px 15px;
  }

  .container-cover
  {
    p {font-size: 20px;}
    h1 {font-size: 50px !important;}
  }

  .container-header, .page-header
  {
    h1 {font-size: 35px !important;}
  }

  h3 {font-size: 20px;}
  h2 {font-size: 25px;}
  .error-container h1{font-size: 160px;}
  .error-container span{font-size: 30px;}
}

@media only screen and (max-width : 992px)
{
  .thumbnail {padding: 40px 0;}
  .col-md-6 {padding-bottom: 40px;}
  .service-icon-wrapper {padding: 40px !important;}
}
